// .wrapper {
// 	overflow: hidden;
// 	position: relative;
// }

// .container {
// 	max-width: 971px;
// 	margin: 0 auto;
// 	padding: 15px;
// }

.first-div {
	width: 400px;
	height: 400px;
	background-color: red;
}

.second-div {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: blue;
}
.third-div {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: green;
}
